<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" attr.role="navigation" mode="side" [opened]="!(isHandset$ | async)">
    <mat-toolbar>
      <a href="#">Menu</a>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item *ngFor="let menu of menus">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>{{ menu.title }}</mat-panel-title>
          </mat-expansion-panel-header>
          <a *ngFor="let childmenu of menu.children" matLine href={{menu.link+childmenu.link}}>{{ childmenu.title }}</a>
        </mat-expansion-panel>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="(isHandset$ | async)">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>material</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
